@model PetShop.Models.ViewModels.ContactFormModel
@{
    ViewData["Title"] = "Liên hệ";
}

@section breadcrum{
    <div class="bg-light py-3">
        <div class="container">
            <div class="row">
                <div class="col-md-12 mb-0"><i class="fa fa-home pr-1"></i><a class="text-decoration-none" asp-action="Index" asp-controller="Home">Trang Chủ</a> <span class="mx-2 mb-0">/</span><i class="fa fa-envelope pr-1"></i><strong class="text-black">Liên hệ</strong></div>
            </div>
        </div>
    </div>
}

<link href="~/css/Contact.css" rel="stylesheet" />

<section class="section gray-bg" id="contactus">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="section-title">
                    <h2>Liên hệ với chúng tôi</h2>
                    <p>Gửi những phản hồi của bạn</p>
                </div>
            </div>
        </div>
        <div class="row flex-row-reverse">
            <div class="col-md-7 col-lg-8 m-15px-tb">
                <div class="contact-form">
                    <form method="post" asp-controller="Home" asp-action="Contact" enctype="multipart/form-data" class="contactform contact_form" id="contact_form">
                        <div class="text-danger" asp-validation-summary="ModelOnly"></div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <input asp-for="Name" placeholder="Tên người dùng" class="form-control">
                                    <span asp-validation-for="Name" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <input asp-for="Email" placeholder="Địa chỉ Email" class="form-control">
                                    <span asp-validation-for="Email" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="form-group">
                                    <input asp-for="Subject" placeholder="Tiêu đề" class="form-control">
                                    <span asp-validation-for="Subject" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="form-group">
                                    <textarea asp-for="Body" placeholder="Nội dung" class="form-control" rows="3"></textarea>
                                    <span asp-validation-for="Body" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="send">
                                    <button id="send_message" class="px-btn theme" type="submit" value="Send"><span>Liên hệ ngay</span><i class="arrow"></i></button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>

            <div class="col-md-5 col-lg-4 m-15px-tb">
                <div class="contact-name">
                    <h5><i class="fas fa-mail-bulk pr-3"></i>Email</h5>
                    <p>PetShop2002@gmail.com</p>
                </div>
                <div class="contact-name">
                    <h5><i class="fas fa-home pr-3"></i> Địa chỉ</h5>
                    <p>Cao Đẳng Kỹ Thuật Công Nghệ Nha Trang</p>
                </div>
                <div class="contact-name">
                    <h5><i class="fas fa-phone-alt pr-3"></i>Điện thoại</h5>
                    <p>01664977732</p>
                </div>
                <div class="social-share nav">
                    <a class="dribbble" href="#">
                        <i class="fab fa-facebook"></i>
                    </a>
                    <a class="behance" href="#">
                        <i class="fab fa-youtube"></i>
                    </a>
                    <a class="linkedin" href="#">
                        <i class="fab fa-google"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>
@if (@ViewBag.SendSuccess != null)
{
    <div class="alert alert-success">@ViewBag.SendSuccess</div>
}

@if (@ViewBag.SendFailed != null)
{
    <div class="alert alert-danger">@ViewBag.SendFailed</div>
}
<div class="map">
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3899.6931297705983!2d109.17095381476263!3d12.201271491364528!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3170674637000ac9%3A0x51fd8a017075f390!2zVHLGsOG7nW5nIENhbyDEkeG6s25nIEvhu7kgVGh14bqtdCBDw7RuZyBOZ2jhu4cgTmhhIFRyYW5n!5e0!3m2!1svi!2s!4v1650262468094!5m2!1svi!2s" width="1115" height="500" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
</div>