@page
@model LockoutModel
@{
    ViewData["Title"] = "Tạm khóa tài khoản";
}

<header>
    <h1 class="text-danger">@ViewData["Title"]</h1>
    <p class="text-danger">Tài khoản này tạm khóa trong 2 phút, vui lòng thử lại sau.</p>
</header>